<article>
    <h1>{{ article.name }}</h1>
    <span>{{ article.pays.name }}</span>
    <span>{{ article.races.names }}</span>
    <span>{{ article.races.espece }}</span>
    <img src="{{ article.image }}" alt="{{ article.name }}">
    <p>{{ article.description }}</p>

   

    <div>
        <h3>Commentaires :</h3>
            <p>Aucun commentaire pour le moment.</p>
    </div>
</article>

   
