<article>
    <h1>{{ article.name }}</h1>
    <span>{{ article.pays.name }}</span>
    <span>{{ article.races.names }}</span><br>
    <span>{{ article.races.espece }}</span><br>
    <img src="{{ asset('assets/upload/article/' ~ article.image) }}" alt="{{ article.name }}">
    <p>{{ article.description }}</p>

   
    {% for commentaire in commentaires %}
        
    {% endfor %}

</article>
   
